##########################################################
# STOMP client configuration
##########################################################

# The address & port of the National Rail Darwin Push Port live feed.
DPPLF_HOST = "darwin-dist-XXXXXX.nationalrail.co.uk"
DPPLF_PORT = 61613

# The username & password for authenticating to the National Rail Darwin Push Port live feed.
DPPLF_USERNAME = ""
DPPLF_PASSWORD = ""


##########################################################
# Redis configuration
##########################################################

# The URL to the Redis server
REDIS_URL = "redis://127.0.0.1:6379/0"
REDIS_PREFIX = "darwin"
REDIS_TIMEOUT = 5
