##########################################################
# STOMP client configuration
##########################################################

# The address & port of the National Rail Darwin Push Port live feed.
DPPLF_HOST = "darwin-dist-44ae45.nationalrail.co.uk"
DPPLF_PORT = 61613

# The username & password for authenticating to the National Rail Darwin Push Port live feed.
DPPLF_USERNAME = ""
DPPLF_PASSWORD = ""


##########################################################
# Redis configuration
##########################################################

# The URL of the Redis server.
REDIS_URL = "redis://127.0.0.1:6379/0"

# The prefix for keys stored in Redis, to avoid conflicts with other clients.
REDIS_PREFIX = "darwin"

# The duration (in seconds) to abort if a connection to the Redis server cannot be established.
REDIS_TIMEOUT = 5
